nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
    overflow: hidden;
    width: auto;
    height: auto;
}

nav {
  font-family:Arial, Helvetica, sans-serif;
  padding-bottom: 5px;
  width: auto;
  height: auto;
}

nav ul li a {
  display: block;
  color: #111;
  text-decoration: none;
  padding: 8px 16px;
  float: right;
  font-size: 20px;
}

nav ul li a.active {
  background-color: #ff8000;
  color: white;
  font-size: 20px;
}

nav ul li a:hover:not(.active) {
  background-color: #ffc299;
  color: white;
}

h1 { 
  color: #ff8000; 
  font-size: 48px; 
  font-family: 'Signika', sans-serif; 
  padding-bottom: 10px; 
}

body {
  background-color: #F5F5DC;
  font-family:Arial, Helvetica, sans-serif;
  height:100%;
}

#photos {
  line-height: 0;   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

#photos img {
  width: 100% !important;
  height: auto !important;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  margin-top: 80px;
  background-color: #ff8000;
  text-align: center;
  display: inline-block;
  width: 100%;
}

#chaotic_good_list {
  font-size: 20px;
  font-family: 'Signika', sans-serif;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.flexcontainer {
  display: flex;
  align-items: center;
}

#ugly_af {
  float: right;
  font-size: 50px;
}

#sheepish {
  float: right;
  font-size: 35px;
}

#left {
  display: inline-block;
}

#right {
  display: inline-block;
}

#center {
  display: inline-block;
}

#ugly_images {
  text-align: center;
  padding-top: 15px;
}

.lamaga {
  position: relative;
  display: inline-block;
}

.details {
  position: absolute;
  bottom: 100;
  left: 10;
  right: 10;
  top: -10;
  background-color: #ff6600;
  overflow: hidden;
  width: 0;
  transition: .5s ease;
}

.lamaga:hover .details {
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.container {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}