nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
    overflow: hidden;
    width: auto;
    height: auto;
}

nav {
  font-family:Arial, Helvetica, sans-serif;
  padding-bottom: 5px;
  width: auto;
  height: auto;
}

nav ul li a {
  display: block;
  color: #111;
  text-decoration: none;
  padding: 8px 16px;
  float: right;
  font-size: 20px;
}

nav ul li a.active {
  background-color: #ff8000;
  color: white;
  font-size: 20px;
}

nav ul li a:hover:not(.active) {
  background-color: #ffc299;
  color: white;
}

h1 { 
  color: #ff8000; 
  font-size: 48px; 
  font-family: 'Signika', sans-serif; 
  padding-bottom: 10px; 
}

body {
  background-color: #F5F5DC;
  font-family:Arial, Helvetica, sans-serif;
  height:100%;
}

#photos {
  line-height: 0;   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px; 

}

#photos img {
  width: 100% !important;
  height: auto !important;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  margin-top: 80px;
  background-color: #ff8000;
  text-align: center;
  display: inline-block;
  width: 100%;
}

#chaotic_good_list {
  font-size: 20px;
  font-family: 'Signika', sans-serif;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.flexcontainer {
  display: flex;
  align-items: center;
}

#ugly_af {
  float: right;
  font-size: 50px;
}

#sheepish {
  float: right;
  font-size: 35px;
}

#left {
  display: inline-block;
}

#right {
  display: inline-block;
}

#center {
  display: inline-block;
}

#ugly_images {
  text-align: center;
  padding-top: 15px;
}

.lamaga {
  position: relative;
  display: inline-block;
}

.details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  display: none;
  color: #FFF;
}

.lamaga:hover .details {
  display: block;
  background: rgba(0, 0, 0, .6);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.name {
  color: white;
  font-size:25px;
  position: absolute;
  left: 40%;
  top: 15%;
}
.container {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

form {
  background: -webkit-linear-gradient(bottom, #ff9966, #ff6600 175px);
  background: -moz-linear-gradient(bottom, #ff9966, #ff6600 175px);
  background: linear-gradient(bottom, #ff9966, #ff6600 175px);
  margin: auto;
  width: 32%;
  height: 300px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  position:relative;
  top:50px;
}

input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 100px;
  background: #ff6600;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
  margin-left: auto;
  margin-right: auto;
}

input.button:hover {
  background: #fff;
  color: #09C;
}

#reindeer {
  float:right; 
  width:32%; 
  position:relative; 
  top:-265px;
}

#hotel {
  float:left; 
  width:32%; 
  position:relative; 
  top:57px
}

